.md-hiden,.sm-hiden{
      display: none;
  }
.sm-show{
	display: block;
}

@media (min-width: 768px){
  html,body{
    /*overflow-y: scroll;*/
    /*margin-right:-17px !important;*/
  }
	#wrapper{
      	padding-top: 80px;
    }
    .sm-hiden{
      	display: block
    }
    .sm-show{
    	display:none;
    }

}
@media (min-width: 992px){
    .md-hiden{
       display: block;
    }
  }
